body {
    line-height: 1.4em;
}

small {
    color: gray;
}

input.search {
    display: block;
    border: none;
    border-bottom: 1px solid silver;
    outline: none;
    width: 30ex;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 30px;
}
